.logo{
    width: 250px;
    height: 100px;
}

.bg-nav{
    background-color: rgb(74, 173, 230);
    padding: 10px;
  
}

.home-heading{
    padding: 25px;
    text-align: center;
}

.bg-home{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240421/pngtree-close-up-view-of-old-man-donating-food-amidst-inflation-with-image_15718519.jpg");
   height: 100vh;
    background-size: cover;
    border-radius: 20px;
}

.know-more-link{
    font-size: 20px;
    color: aqua;
    font-weight: 500;
}

.caption{
    color: white;
}

.bg-events{
   background-color: rgb(74, 173, 230);
    background-size: cover;
    padding: 20px;
   
}

.heading{
    color: #bceefd;
}

.descrpition{
    color: white;
    font-size: 20px;

}

.events-heading{
    color:  rgb(74, 173, 230);
}

.event-date{
    color: rgb(74, 173, 230);
    font-weight: 500;
}

.event-place{
    color: rgb(128, 119, 119);
    font-family: sans-serif;
}

.event-info{
    color: rgb(128, 119, 119);
    
}

.donate-heading{
    color: rgb(74, 173, 230);
}

.donate-img{
    width: 100%;
}

.donate-card{
    border-radius: 25px;
}

.donation-caption{
    color: rgb(128, 119, 119);
    font-size: 18px;
    margin: 20px;
}

.custom-button{
    margin: 20px;
}

.volunteer-heading{
    color: rgb(74, 173, 230);
    padding: 20px;
}

.bg-signUp{
    background-color: #bceefd;
    background-size: cover;
    border-radius: 10px;
    border-color:  rgb(74, 173, 230);
    border-style: solid;
    margin: 100px;
    padding: 25px;
}

.sign-Up{
    color: rgb(128, 119, 119);
    font-size: 23px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-button-sign-up {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.events-card{
    border-color: rgb(74, 173, 230);
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.donation-card{
    border-color: rgb(74, 173, 230);
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}

.volunteer-card{
    border-color: rgb(74, 173, 230);
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}

.footer-card{
    background-color: rgb(114, 110, 110);
    background-size: cover;
}

.social-links a {
    color: #ddd;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 0.8em;
  }

  